@page "{title}/{id}"
@model DetailsModel

@{
    ViewData["Title"] = Model.BlogPost.Blog.Title;
}

<div class="w3-row-padding">
    <div class="w3-col m8">
        <div class="w3-card-2 w3-margin-bottom">
            <img src="@Model.BlogPost.BlogImage.ImagePath" alt="@Model.BlogPost.BlogImage.AltText" style="width:100%" />
            <span class="w3-pink w3-padding">@Model.BlogPost.Blog.PublishDate.ToLongDateString()</span>
            <div class="w3-padding">
                <h2>@Model.BlogPost.Blog.Title</h2>
                <p style="font-weight:bold">
                    @Html.Raw(Model.BlogPost.Blog.Perex)
                </p>
                <p>
                    @Html.Raw(Model.BlogPost.Blog.MainText)
                </p>
                <span class="w3-text-pink">
                    <i class="fa-regular fa-folder-open"></i>
                    @{
                        var totalTags = Model.BlogPost.Blog.LabelArray.Length;
                        for (int i = 0; i < totalTags; i++)
                        {
                            <a asp-page="Index" asp-route-SearchString="@Model.BlogPost.Blog.LabelArray[i]" class="w3-hover-text-pale-red" style="text-decoration:none">@Model.BlogPost.Blog.LabelArray[i]</a>@(i < totalTags - 1 ? ", " : "")
                        }
                    }
                </span>
                <div class="w3-row w3-margin-top">
                    <div class="w3-col l8 s12">
                        @if (Model.PreviousBlogPost != null)
                        {
                            <a asp-page="/Blog/Details" asp-route-title="@Model.PreviousBlogPost.Title.ToUrlFriendly()" asp-route-id="@Model.PreviousBlogPost.Id" class="w3-button w3-padding w3-yellow w3-hover-pink"><i class="fa-solid fa-chevron-left"></i> Předchozí příspěvek</a>
                        }

                        @if (Model.NextBlogPost != null)
                        {
                            <a asp-page="/Blog/Details" asp-route-title="@Model.NextBlogPost.Title.ToUrlFriendly()" asp-route-id="@Model.NextBlogPost.Id" class="w3-button w3-padding w3-yellow w3-hover-pink">Následující příspěvek <i class="fa-solid fa-chevron-right"></i></a>
                        }
                    </div>
                    <div class="w3-col l4 s12 w3-text-gray w3-wide w3-right-align">
                        @{
                            var location = new Uri($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}");
                            var shareUrl = Uri.EscapeDataString(location.AbsoluteUri);
                        }
                        <a id="permalink" href="@location.AbsoluteUri" style="display:none;"></a>
                        <span onclick="copyToClipboard()" style="cursor:pointer"><i class="fa-solid fa-link w3-hover-text-pink"></i></span>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl" target="_blank" style="text-decoration:none"><i class="fa-brands fa-facebook w3-hover-text-pink"></i></a>
                        <a href="https://twitter.com/intent/tweet?text=@Model.BlogPost.Blog.Title&url=@shareUrl" target="_blank" style="text-decoration:none"><i class="fa-brands fa-x-twitter w3-hover-text-pink"></i></a>
                        <a href="https://www.pinterest.com/pin/create/button/?url=@shareUrl&media=@Model.BlogPost.BlogImage.ImagePath&description=@Model.BlogPost.Blog.Title" target="_blank" style="text-decoration:none"><i class="fa-brands fa-pinterest w3-hover-text-pink"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-col m4">
        <div class="w3-card-2 w3-margin-bottom w3-padding">
            <h3>Karavanový svět</h3>
            <p>Vítejte v Karavanovém světě - průvodci cestováním karavanem! Objevujte s námi neomezenou svobodu na cestách, získejte odborné rady pro řízení karavanů a inspirujte se tipy na úžasné výlety. Zajistěte si hladký a nezapomenutelný zážitek na každé cestě. Připojte se ke komunitě vášnivých karavanistů a objevte svět s pohodlím na čtyřech kolech!</p>
        </div>

        <div class="w3-card-2 w3-margin-bottom w3-padding">
            <h3>Nejčtenější příspěvky</h3>
            <div>
                @foreach (var post in Model.MostReadBlogPosts)
                {
                    <h4><a asp-page="/Blog/Details" asp-route-title="@post.Title.ToUrlFriendly()" asp-route-id="@post.Id">@post.Title</a></h4>
                    <span class="w3-small">@post.PublishDate.ToLongDateString()</span>
                }
            </div>
        </div>

        <div class="w3-card-2 w3-margin-bottom w3-padding">
            <h3>Štítky</h3>
            <div class="w3-center">
                @foreach (var tag in Model.TagCloud)
                {
                    <a asp-page="/Blog/Index" asp-route-SearchString="@tag" class="w3-button w3-small w3-yellow w3-hover-pink" style="margin:0.5em">@tag</a>
                }
            </div>
        </div>
    </div>
</div>

@section Head{
    <script src="https://kit.fontawesome.com/3aeded1a52.js" crossorigin="anonymous"></script>
}

@section Scripts{
    <script>
        function copyToClipboard() {
            // Get the permalink text
            var permalink = document.getElementById('permalink').getAttribute('href');

            // Create a temporary text area to hold the link
            var tempTextArea = document.createElement('textarea');
            tempTextArea.value = permalink;
            document.body.appendChild(tempTextArea);
            tempTextArea.select(); // Select the text
            document.execCommand('copy'); // Copy the text
            document.body.removeChild(tempTextArea); // Remove the temporary text area

            // Show a message to the user
            alert('Odkaz byl zkopírován do schránky.'); // Change the message as needed
        }
    </script>
}