@page "{SearchString?}"
@model KaravanovySvet.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Přehled příspěvků blogu";
}

<div class="w3-container" style="background-image: url('img/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center">
    @{
        var i = 1;
        var imgStyle = "";
        foreach (var item in Model.BlogPosts)
        {
            if (i % 2 != 0)
            {
                imgStyle = "left;margin-right:0.5em";
            }
            else
            {
                imgStyle = "right";
            }
            <div class="w3-card w3-padding w3-margin-bottom w3-hover-pale-green">
                <img src="@item.BlogImage.ImagePath" alt="@item.BlogImage.AltText" class="w3-border w3-padding w3-image w3-hover-grayscale" style="max-width:400px;float:@imgStyle" />
                <h2><a asp-page="./Details" asp-route-id="@item.Blog.Id">@item.Blog.Title</a></h2>
                <h4>Datum zveřejnění: @item.Blog.PublishDate.ToLongDateString()</h4>
                <p>@item.Blog.Perex</p>
            </div>
            i++;
        }
    }
</div>