@model KaravanovySvet.Models.Blogs

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Blogs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Labels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Labels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermaLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermaLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalViews)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
